<!-- ====================================
——— PAGE TITLE SECTION
===================================== -->
<section class="pageTitleSection" id="">
  <div class="container">
    <div class="pageTitleInfo">
      <h2>Porada pro atopický ekzem</h2>
      <ol class="breadcrumb">
        <li><a href="/">Domů</a></li>
        <li class="active">Poradna pro atopický ekzem</li>
      </ol>
    </div>
  </div>
</section>

<!-- ====================================
——— MAIN SECTION
===================================== -->
<section class="mainContent full-width clearfix aboutSection">
  <div class="container">
    <h3>Níže najdete odkaz na blog a facebookovou skupinu jedné maminky, která se už přes 4 roky věnuje
      atopickému ekzemu. <br><br>

      Co Vám může nabídnout? </h3>
      <ul>
        <li>konzultaci prostřednictvím emailu, případně i osobní setkání
        </li>
        <li>zaměření se na věkovu skupinu novorozenci – děti do 3 let
        </li>
        <li>rady a 4leté zkušenosti s léčbou atopického ekzému nejen u svých dětí
        </li>
        <li>psychickou podporu
        </li>
        <li>léčbu pomocí zelených potravin
        </li>
      </ul>
    <b>
      Více se dozvíte na webových stránkách.
    </b>
    <div class="fb-group" data-href="https://m.facebook.com/groups/2245231065584882?id=2245231065584882&amp;ref=content_filter&amp;_rdr" 
    data-width="300" data-show-social-context="true" data-show-metadata="true"></div>
  </div>
</section>