<!-- PLUGINS CSS STYLE -->
<link href="../../assets/plugins/jquery-ui/jquery-ui.css" rel="stylesheet">
<link href="../../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="../../assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="../../assets/plugins/rs-plugin/css/settings.css" rel="stylesheet" >
<link href="../../assets/plugins/selectbox/select_option1.css" rel="stylesheet">
<link href="../../assets/plugins/owl-carousel/owl.carousel.css" rel="stylesheet">
<link href="../../assets/plugins/fancybox/jquery.fancybox.min.css" rel="stylesheet">
<link href="../../assets/plugins/isotope/isotope.css" rel="stylesheet">
<link href="../../assets/plugins/animate/animate.css" rel="stylesheet">

<!-- GOOGLE FONT -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Dosis:400,300,600,700' rel='stylesheet' type='text/css'>

<!-- CUSTOM CSS -->
<link href="../../assets/css/app.css" rel="stylesheet">
<link rel="stylesheet" href="../../ssets/css/default.css" id="option_color">

<!-- Icons -->
<link rel="shortcut icon" href="../../assets/img/favicon.png">



<!-- ====================================
	——— PAGE TITLE SECTION
	===================================== -->
    <section class="pageTitleSection">
      <div class="container">
        <div class="pageTitleInfo">
          <h2>{{data.post.title}}</h2>
          <ol class="breadcrumb">
            <li><a href="/">Domů</a></li>
            <li class="active">Blog</li>
          </ol>
        </div>
      </div>
    </section>

	<!-- ====================================
    ——— MAIN SECTION
    ===================================== -->
    <section class="mainContent full-width clearfix">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 block">
            <div class="thumbnail thumbnailContent">
              <div class="caption border-color-1 singleBlog">
                <h3 class="color-1">{{data.post.title}}</h3>
								{{#if data.post.image}}<img src="{{{cloudinaryUrl data.post.image width=500 crop='fit' }}}" class="img-responsive">{{/if}}
                <p>{{{data.post.content.extended}}}</p>
								 <a href="/blog" class="btn btn-primary"><i class="fa fa-reply-all" aria-hidden="true"></i>Zpět na blog</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>






<script src="../../assets/plugins/jquery/jquery-min.js"></script>
<script src="../../assets/plugins/jquery-ui/jquery-ui.js"></script>
<script src="../../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="../../assets/plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script src="../../assets/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script src="../../assets/plugins/selectbox/jquery.selectbox-0.1.3.min.js"></script>
<script src="../../assets/plugins/owl-carousel/owl.carousel.js"></script>
<script src="../../assets/plugins/waypoint/waypoints.min.js"></script>
<script src="../../assets/plugins/counter-up/jquery.counterup.min.js"></script>
<script src="../../assets/plugins/isotope/isotope.min.js"></script>
<script src="../../assets/plugins/fancybox/jquery.fancybox.min.js"></script>
<script src="../../assets/plugins/isotope/isotope-triger.js"></script>
<script src="../../assets/plugins/countdown/jquery.syotimer.js"></script>
<script src="../../assets/plugins/velocity/velocity.min.js"></script>
<script src="../../assets/plugins/smoothscroll/SmoothScroll.js"></script>
<script src="../../assets/plugins/wow/wow.min.js"></script>
<script src="../../assets/js/app.js"></script>
